section{
    display: grid;
    grid-template-columns: 1fr ;
    color: white;
    top: 0.5rem;
    height: 80vh;
}


.slide1{
    background-image: url(./images/about\ us\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: auto;
    height: 100%;
    position: relative;
    margin: 0 auto;
    padding: 16rem 5rem;
}

.slide2{
    background-image: url(./images/about\ us\ 2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: auto;
    height: 100%;
    position: relative;
    margin: 0 auto;
    padding: 16rem 5rem;
}

.slide3{
    background-image: url(./images/about\ us\ 3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: auto;
    height: 100%;
    position: relative;
    margin: 0 auto;
    padding: 16rem 5rem;
}

.content h1{
    font-size: 2.5rem;
}


/* -----history------ */
.history_section{
    background: linear-gradient(100deg, white, rgb(185, 185, 185), rgb(131, 131, 131));
    height: auto;
}

hr{
    height: 3px;
    background-color: #483325;
    border-radius: 1.5px;
    margin: 1rem 0;
    width: 60%;
}

.history{
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 2rem 0;
    width: 100%;
    gap: 2rem;
}

.history_right{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    right: 0;
}

.history_left{
    color: black;
    align-content: center;
    left: 0;
    margin-right: 5rem;
}

.history_right img{
    object-fit: cover;
    height: 15rem;
    width: 100%;
    display: inline-block;
    border-radius: 1rem;
}

/* -----end of history------ */



/* -----chef------ */
.chef_section{
    background: linear-gradient(100deg, rgb(131, 131, 131),rgb(185, 185, 185),white);
    height: auto;
}

hr{
    height: 3px;
    background-color: #483325;
    border-radius: 1.5px;
    margin: 1rem 0;
    width: 60%;
}

.chef{
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 2rem 0;
    gap: 2rem;
}

.chef_left img{
    object-fit: cover;
    height: 30rem;
    width: 100%;
    display: inline-block;
    border-radius: 0.5rem;
    left: 0;
}

.chef_right{
    color: black;
    align-content: center;
}

@media screen and (max-width: 1024px) {
    .container{
        width: 90%;
    }

    /* HISTORY SECTION */
    .history_right img{
        object-fit: cover;
        height: 12rem;
        width: 100%;
    }

    /* CHEF SECTION */
    .chef_left img{
        height: 21rem;
    }
}

@media screen and (max-width: 600px) {
    section{
        height: 60vh;
    }

    .content h1{
        font-size: 2rem;
    }

    .content p{
        font-size: 0.9rem;
        margin-right: 4rem;
    }

    .slide1{
        padding: 12rem 4rem;
    }

    .slide2{
        padding: 12rem 4rem;
    }

    .slide3{
        padding: 12rem 4rem;
    }

    /* HISTORY SECTION */
    .history{
        display: grid;
        grid-template-columns: 1fr;
    }

    .history_right{
        display: grid;
        grid-template-columns: 1fr 1fr;
        right: 0;
    }

    .history_right img{
        height: 10rem;
    }

    /* CHEF SECTION */
    .chef{
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .chef_right{
        padding-left: 0;
    }  
}

