*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: 0 auto;
}

body{
    background: url(./images/bgimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
}


/* reservation */
.reservation{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 6rem;
    overflow: hidden;
}

.reservation_left img{
    height: 100%;
}

.reservation_right h1{
    padding-bottom: 2rem;
}

.reservation_right{
    align-content: center;
    background-color: wheat;
    padding: 1.8rem;
    line-height: 3rem;
}

.contact-input{
    height: 2.5rem;
    border-radius: 0.8rem;
    padding-left: 1rem;
    background-color: wheat;
    border: transparent;
    box-shadow: 5px 5px 5px rgb(135, 135, 135) ;
}

.party{
    height: 2.5rem;
    border-radius: 0.8rem;
    padding-left: 1rem;
    background-color: wheat;
    border: transparent;
    box-shadow: 5px 5px 5px rgb(135, 135, 135) ;
    display: inline-block;
}

.party select{
    background-color: wheat;
    padding-left: 1rem;
}
.reservation_right button{
    height: 2.5rem;
    padding: 0 3rem;
    background-color: #483325;
    color: white;
}

form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

@media screen and (max-width: 1024px) {
    .reservation{
        margin-top: 6rem;
        display: grid;
        grid-template-columns: 1fr;
        width: 70%;
    }

    .reservation_left{
        display: none;
    }
    
}

@media screen and (max-width: 600px) {
   .reservation{
        margin-top: 6rem;
        display: grid;
        grid-template-columns: 1fr;
        width: 90%;
    }

    .reservation_left{
        display: none;
    }
}
